* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
  cursor: pointer;
}

.primary {
  border-radius: 2px;
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
}

.outline {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  color: #595959;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-size: contain;
  padding: 68px;
  border-radius: 10px;
  background: #fff1b8 url("./images/banners/banner-image.png") no-repeat center
    right;
}

.banner-item--title {
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
  margin: 0;
}

.products {
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.products-header--search {
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 5px 12px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #d9d9d9;
}

.products-header--search::placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 30px;
}

.products-card {
  width: calc((100% - 48px) / 3);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  overflow: hidden;
  text-decoration: none;
}

.products-card___image {
  width: 100%;
}

.products-card___image img {
  width: 100%;
}

.products-card__description {
  padding: 20px 24px 34px 24px;
}

.products-card__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.products-card__description--badge {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  background: #262626;
  padding: 1px 8px;
}

.products-card__description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.products-card__description-info--rating {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
}

.products-card__description-info--price {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.products-card__description-info--group {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  position: relative;
}

.products-card__description-info--group::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
  position: absolute;
  left: -14px;
  top: 14px;
}

/*---------------------goods*/
.products-card__description--name {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.products-card__description--text {
  margin: 0;
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 400;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.products-card__description-controls--price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

/*-----------------------modal*/

/*---------------------media*/
@media (max-width: 991px) {
  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .products-card {
    width: calc((100% - 24px) / 2);
  }

  .banner-item {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .products-card {
    width: 100%;
  }
}
